<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="html" value="Index.html"/>
        <add key="pdf" value="Index.PDF"/>
        <add key="connectionString" 
             value="Data Source=HOME-PC\SQLEXPRESS;Initial Catalog=Restaurant;Integrated Security=True;"/>
        <add key="mailAddress" value="example2008@inbox.ru"/>
        <add key="mailPassword" value="Dj#d_9A-bqBmg_R"/>
        <add key="displayName" value="Example"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>